<h1>Gamers, your skills are valued</h1>

<%= simple_form_for @service do |f| %>
  <div class="name222">
    <%= f.input :name %>
</div>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
