<div class="container services-new">
  <div class="services-new-form">
    <div class="form-title">
      <h3>Create a new service</h3>
    </div>
    <%= simple_form_for @service do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category, collection: Service::CATEGORIES, input_html: {class: "w-100"} %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
