<div class="container services-new">
  <div class="services-new-form">
    <div class="form-title">
      <h3>Create a new service</h3>
    </div>
    <%= simple_form_for @service do |f| %>
      <%= f.input :name, :placeholder => 'Call Of Duty, FIFA, Fortnite,...' %>
      <%= f.input :description, :placeholder => 'I will help you to improve your level.' %>
      <%= f.input :category, collection: Service::CATEGORIES, input_html: {class: "w-100"} %>
      <%= f.input :price,label: "Price per hour", :placeholder => '30' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
