<div class="container">
  <div class="services-new-flexbox">
    <%= simple_form_for @service do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
