<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @service.image %>)">
  <h1><%= @service.name %></h1>
</div>

<div class="container">
  <div class="card-infos">
    <div class="card-infos-content">
      <h3>Name</h3><p><%= @service.name %></p>
    </div>
    <div class="card-infos-content">
      <h3>Category</h3><p><%= @service.category %></p>
    </div>
    <div class="card-infos-content">
      <h3>Description</h3><p><%= @service.description %></p>
    </div>
    <div class="card-infos-content">
      <h3>Price</h3><p> <strong><%= @service.price %>$</strong></p>
    </div>
    <%= link_to 'Book this service', new_service_booking_path(@service), class: "btn-strong-purple" %>
  </div>
</div>





