<!-- faire un loop sur les 6 card categories -->
<% @services.each do |service| %>
    <%= link_to service_path(service) do %>
    <div class="card-trip">
      <%= cl_image_tag service.photo.key, height:300, width:400, crop: :fill %>
      <div class="card-trip-infos">
        <div>
          <h2><%= service.name %></h2>
          <p><%= service.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= service.price %> $</h2>
        <img src="https://res.cloudinary.com/dhj2fdtwt/image/upload/v1590482689/taylor-harding-i4NoTSSCw5E-unsplash_cguk5u.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <% end %>
<% end %>
