
<div class="container list-booking">
  <h5 class = "border-bottom border-primary">
    <div class ="row my-3 text-primary">
        <div class ="col">
          <strong>Service</strong>
        </div>
        <div class ="col">
         Booking date
        </div>
        <div class ="col">
          Status
        </div>
        <div class ="col">
           Duration (in mn)
        </div>
        <div class ="col">
           Total Price
        </div>
        <div class ="col">
           Pro name
        </div>
        <div class ="col">
          Email
        </div>
    </div>
  </h5>
    <% @bookings.each do |booking| %>
  <div class ="row">
    <div class ="col">
      <strong><%= booking.service.name %></strong>
    </div>
    <div class ="col">
      <%= booking.date %>
    </div>
    <div class ="col">
      <%= booking.statut %>
    </div>
    <div class ="col">
      <%= booking.duration %>
    </div>
    <div class ="col">
      <%= booking.service.price*booking.duration/60 %> $
    </div>
    <div class ="col">
      <%= booking.service.user.first_name %>  <%= booking.service.user.last_name %>
    </div>
    <div class ="col">
         <a href="mailto:contact@onecoachingtobindthemall.com">  <%= booking.service.user.email %> </a>
    </div>
  </div>
  <% end %>
 </div>







